

*{
  font-family: "Lucida Console", "Courier New", monospace;
  user-select: none;
  font-size:1em;
  line-height: 1.2em;
  box-sizing:border-box;
  margin:0px;
  padding:0px;
}

@media only screen and (min-width: 768px){ /*desktop */
  body{
    margin:0px;
    width:100%;
    padding-top:15%;
    padding-left:20%;
  }
  a{
    text-decoration: none;
    color:black;
    padding-left:20px;
  }
  a:visited{
    color:grey;
  }
}

@media only screen and (max-width: 768px){ /*mobile */
  body{
    width:100%;
    padding-top:15%;
    padding-left:2%;
  }
  a{
    text-decoration: none;
    color:lightgreen;
    padding-left:20px;
  }
  a:visited{
    color:salmon;
  }
}
.folder{
  width:1em;
  /* vertical-align:top; */
  margin-bottom:-1px;
}

div{
  margin-left:2em;
  display:none;
}

a:hover{
  color:lightgreen;
}
span:hover{
  /* color:cornflowerblue; */
}
