

*{
  font-family: "Lucida Console", "Courier New", monospace;
  user-select: none;
  font-size:1em;
  line-height: 1.75em;
}

@media only screen and (min-width: 768px){ /*desktop */
  body{
    width:50%;
    padding-top:15%;
    margin:auto;
  }
}

@media only screen and (max-width: 768px){ /*mobile */
  body{
    width:50%;
    padding-top:15%;
    margin-left:5%;
  }
}
.folder{
  width:20px;
  vertical-align:top;
}

div{
  margin-left:2em;
  display:none;
}
a{
  text-decoration: none;
  color:black;
  padding-left:20px;
}
a:visited{
  color:grey;
}
a:hover{
  color:lightgreen;
}
span:hover{
  /* color:cornflowerblue; */
}
